* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    list-style-type: none;
}
input:focus {
    outline: none;
}

/* Header Styles */

.header {
    margin-bottom: 70px;
}

.header__wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-right: 50px;
}

.header__item:last-child, .header__top__buttons__link:last-child {
    margin-right: 0;
}

.header__item:hover .header__link {
    color: #6F2CFF;
}

 
.header__link,
.header__top__buttons__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #1c1c1c;
    transition: .3s all linear;
}

.header__link {
    position: relative;
}

 .header__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6F2CFF;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}


.header__item:hover .header__link::before {
    transform-origin: left;
    transform: scaleX(1);
}


.header__top__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top__buttons__link {
    margin-right: 40px;
}

.header__top__buttons__link.button {
    padding: 15px 30px;
    color: #fff;
    background-color: #6F2CFF;
    border-radius: 20px;
    transition: .3s all linear;
}

.header__top__buttons__link.button:hover {
    color: #1c1c1c;
}

.header__top__buttons__link.log_in {
    position: relative;
}

.header__top__buttons__link.log_in:hover {
    color: #6F2CFF;
}

.header__top__buttons__link.log_in::before  {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6F2CFF;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header__top__buttons__link.log_in:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header__main {
    background: url("../img/header__main.jpg") no-repeat center center;
    min-height: 700px;
    background-color: #F6BED9;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__main .header__wrapper {
    max-width: 450px;
    margin-left: 115px;
}

.header__main__subtitle {
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
    margin-bottom: 15px;
}

.header__main__title {
    font-size: 54px;
    line-height: 61px;
    margin-bottom: 27px;
}

.header__main__title__color {
    color: #6F2DFF;
    line-height: 54px;
}

.header__main__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 5px;
}

.header__main__text span {
    font-weight: 700;
}

#header__form__email {
    border: 1px solid #6F2CFF;
    border-radius: 27px 0 0 27px;
    padding: 15px 25px;
    width: 50%;
}

#header__form__email[value] {
    font-size: 15px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.27);
}

#header__form__email:focus {
    outline: 1px solid #6F2CFF;
}

#header__form__button {
    padding: 15px 45px;
    background-color: #6F2CFF;
    color: #fff;
    border: 1px solid #6F2CFF;
    border-radius: 0 27px 27px 0;
    width: 50%;
    margin-left: -5px;
    transition: all .3s linear;
}

#header__form__button:hover {
    color: #000;
    cursor: pointer;
}
/* END Header Styles */

/* Brands Styles */

.brands {
    margin-bottom: 70px;
}

.brands .wrapper {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands__title {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #1C1C1C;
}

.brands__icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.brands__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1C1C1C;
    transition: .3s all linear;
    position: relative;
}

.brands__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6F2CFF;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.brands__link:hover {
    color: #6F2CFF;
}


.brands__link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/*  END Brand Styles */

/* Statistics Styles */

.statistics {
    margin-bottom: 70px;
}

.statistics__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.statistics__left, .statistics__right {
    width: 50%;
}

.statistics__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics__left__title {
    font-size: 40px;
    line-height: 45px;
    color: #1C1C1C;
    margin-bottom: 50px;
}

.statistics__left__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.statistics__left__button.book {
    padding: 15px 45px;
    color: #fff;
    background-color: #6F2CFF;
    border-radius: 20px;
    transition: .3s all linear;
    margin-right: 20px;
}

.statistics__left__button.book:hover {
    color: #1c1c1c;
}

.statistics__left__button.meet {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1C1C1C;
    transition: .3s all linear;
    position: relative;
}

.statistics__left__button.meet::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6F2CFF;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.statistics__left__button.meet:hover {
    color: #6F2CFF;
}

.statistics__left__button.meet:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.statistics__left__additional p {
    line-height: 30px;
    margin-bottom: 7px;
}

.statistics__left__additional__link {
    position: relative;
}


.statistics__left__additional__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #000;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.statistics__left__additional__link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.statistics__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics__right__item {
    width: 300px;
    margin-bottom: 90px;
}

.statistics__right__item__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 5px;
}

.statistics__right__item__subtitle {
    line-height: 22px;
}

/* END Statistics Styles */

/* Commerce Styles*/

.commerce {
    margin-bottom: 90px;
}

.commerce__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.commerce__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
}

.commerce__subtitle {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
}

.commerce__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commerce__item {
    width: 320px;
    text-align: center;
    margin-right: 70px;
}

.commerce__item:last-child {
    margin-right: 0;
}

.commerce__item__img {
    margin-bottom: 40px;
}

.commerce__item__title {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 15px;
}



/* END Commerce Styles*/