* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul, li {
    list-style-type: none;
}

/* Header Styles */

.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__item {
    margin-right: 50px;
}

.header__item:last-child, .header__top__buttons__link:last-child {
    margin-right: 0;
}

.header__item:hover .header__link {
    color: #6F2CFF;
}

 
.header__link,
.header__top__buttons__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #1c1c1c;
    transition: .3s all linear;
}

.header__link {
    position: relative;
}

 .header__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6F2CFF;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}


.header__item:hover .header__link::before {
    transform-origin: left;
    transform: scaleX(1);
}


.header__top__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top__buttons__link {
    margin-right: 40px;
}

.header__top__buttons__link.button {
    padding: 15px 30px;
    color: #fff;
    background-color: #6F2CFF;
    border-radius: 20px;
    transition: .3s all linear;
}

.header__top__buttons__link.button:hover {
    color: #1c1c1c;
}

.header__top__buttons__link.log_in {
    position: relative;
}

.header__top__buttons__link.log_in:hover {
    color: #6F2CFF;
}

.header__top__buttons__link.log_in::before  {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #6F2CFF;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header__top__buttons__link.log_in:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


/* END Header Styles */